
  .experienceContainer {
    z-index: 998 !important;
    position: relative;
    height: 85%;
    width: 100%;
    overflow: hidden !important;
    // border: 10px solid purple;
    //   padding-top: 15%;
    //   padding-bottom: 8%;
  }


.experienceCardsContainer {
  height:50%;
  width: 100%;
}
.experienceCardsContainerFlex {
 display: flex;
}
.experienceCardList {
  display: flex;
  flex-direction: column;
  // gap: 4rem;
  align-items: center;
  justify-content: center;
//   border: 2px solid red;
  height: 100%;
  //   padding-top: 8%;
}
.experienceCard {
  cursor: grab;
  background-color: #ffffff29;
  height: 13rem;
  width: 27rem;
  border-radius: 20px;
  color: #C0C0C0;
  // border: 2px solid black;
  box-shadow: 0 25px 5px 0 #00000033, 0 25px 8px 0 #00000030;
  display: flex;
  align-items: center;
  gap: 3rem;
  padding: 20px;
  margin: auto;
  margin-top: 5% !important;
}
.experienceCardImg {
  border-radius: 100%;
  height: 40%;
  width: 20%;
}
.experienceCardText_mainTxt {
  font-size: 1.35rem;
  font-weight: 600;
}
.experienceCardText_subTxt{
  font-size:  0.9rem;
}
.dragConstraintBox {
  align-items: center;

  width: 50%;
  height: 100%;
  background-color: #ffffff00;
  position: relative;

  overflow: hidden;
}
.dragConstraintBox1 {
  width: 100vw;
  height: 100%;
  background-color: #ffffff00;
  position: relative;

  overflow: hidden;
}

@media (max-width: 768px) {
  .experienceContainer {
    height: 95%;
  }
  .experienceCardsContainer {
    height:50%;
    width: 100%;
  }
  .experienceCardsContainerFlex {
    display: block;
  }
  .dragConstraintBox{
    width: 100%;
    height: auto;
  }
  .experienceCardList {
    
    position: absolute;
    // top:10%;
    width: 100%;
    height: 85%;
    // margin-top: 10%;

    margin-top: 15%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .experienceCard {
    gap: 1rem;
    height: 10rem;
    width: 15rem;
    font-weight: 800;
  }
  .experienceCardText_mainTxt {
    font-size: 0.75rem;
  }
  .experienceCardText_subTxt{
    font-size: 0.6rem;
  }
}
