@media (min-width: 768px) {
  .footer {
    z-index: 999;
    position: absolute;
    right: 0%;

    bottom: 0%;
  }
  .footer-div {
  }
}
@media (max-width: 768px) {
  .footer {
    z-index: 1001;
    position: absolute;
    width: 100%;
    bottom: 1%;
  }
  .footer-div {
    width: max-content;
    margin: 0 auto !important;
  }
}
