body {
  font-family: "Montserrat Alternates", sans-serif !important;
  font-weight: 400 !important;
  font-style: normal !important;
  color: #C0C0C0 !important;
}
body{
  overflow: hidden !important;
  height: auto;
  width: 100%;
}

@media (max-width: 768px) {
  #vantaBg {
    visibility: hidden;
  }
}

@media (min-width: 768px) {
  #mobBg{
    visibility: hidden;
  }
}